chromadb-client==1.4.1
PyMuPDF==1.26.7
openai==2.16.0
python-dotenv==1.2.1
python-telegram-bot==22.6
opik==1.10.1
pytest==9.0.2
requests==2.32.5
azure-storage-blob==12.28.0
azure-ai-formrecognizer==3.3.3
