resource_group_name = "resource group name"
location            = "France Central"
vm_size             = "Standard_B2pls_v2"
admin_username      = "adminuser"
public_key_path     = "~/.ssh/id_rsa.pub"
storage_account_prefix = "storage account prefix"
openai_location     = "East US 2"
storage_location    = "Israel Central"
rg_location         = "Israel Central"

# OpenAI
openai_sku_name     = "S0"
chat_model_name     = "gpt-4o-mini"
chat_model_version  = "2024-07-18"
embedding_model_name = "text-embedding-3-small"
embedding_model_version = "1"
